body{
    background-color: cadetblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:600px;
    width: fit-content;
    flex-direction: column;
    flex-wrap:wrap;
    border: 2px solid black;
    margin-top: 10px;
    background-color: aliceblue;
}


#calculator{
    display: flex;
    flex-wrap: wrap;
    width:400px;
    height: 200x;
    gap:10px;
    margin-right: 20px;
}

.option {
    height:60px;
    width: calc(60px);
    background-color: aqua;
    display: inline-block;
    background:gray;
    margin: 10px 0 0 2%;
    flex-grow: 1;
}
.btn, .btn-clear, .btn-equal{
    height: 75px;
    width: 80px;
    font-size: 30px;
}

#display{
    background-color:cadetblue;
    width: 405px;
    height: 200px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;   


}
#display-header{
    text-align: center;
    font-size: 50px;
}



#clear{
    font-size: 20px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }